body {
    background: #DFF0FE;
    font-family: 'Red Hat Text';
    user-select: none;
}

div#ribbon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

div#ribbon > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

div#ribbon > div >  img {
    height: 40px;
    width: 40px;
    cursor: copy;
}

div#ribbon > div >  span {
    font-size: smaller;
    padding: 3px 5px 4vh 5px;
    overflow-wrap: break-word;
    text-align: center;
    color: #444444;
    cursor: copy;
}