body {
    background: #DFF0FE;
    font-family: 'Red Hat Text';
    user-select: none;
}

div#ribbon {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10px;
    height: 100%;
    align-items: center;
}

div#ribbon > span {
    font-weight: 500;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    color: #444444;
    font-family: 'Red Hat Text';
    font-size: smaller;
    align-items: center;
    display: inline-flex;
}

div#ribbon > span > img#logo {max-height: 2em;}

@media only screen and (max-width: 920px) {div#ribbon > span{display: none;}}

div#ribbon > div {
    display: inline-flex;
    align-items: center;
    cursor: default;
    height: 50%;
    border: 1px solid #C6E3FF;
    border-radius: 10px;
    background-color: #D6EFFF;
    margin-right: 4%;
}

div#ribbon > div#exit {
    position: absolute;
    right: 20px;
    padding-right: 0px;
    margin-right: 0px;
    height: 35px;
    border: 0px;
    background-color: inherit;
} 

div#ribbon > div#exit > img {
    height: 40px; 
    width: 40px;
}

div#ribbon > div#exit > span {display: none;}

div#ribbon > div:hover {
    filter: brightness(101%);
    transition: all 0.5s ease;
}

div#ribbon > div:active {background-color: #ffffff}

div#ribbon > div >  img {
    height: 20px;
    width: 20px;
    padding: 10px;
}

div#ribbon > div >  span {
    font-size: smaller;
    color: #444444;
    padding: 10px 10px 10px 0px;
}