<style>
    body{
        height: 80vh;
        margin: 1.3em;
    }

    div#container{
        background-color: #DFF0FE;
        border-radius: 10px;
    }
    div#apidesc{
        padding: 8px 32px;
    }
    span#exposedpath{
        color:#0032E4;
    }
    span#POST {
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 700;
        text-align: center;
        color: #FFFFFF;
        background: #535AFF;
        border-radius: 5px;
        padding: 0px 5px;
        height: 1.1em;
    }
    span#GET {
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 700;
        text-align: center;
        color: #FFFFFF;
        background: #039000;
        border-radius: 5px;
        padding: 0px 10px;;
        height: 1.1em;
    }

    span#standard{
        font-weight: bold;
        color: #282828;
    }


</style>

<div id="container">
    <div id="apidesc">
        <span>{{description}}</span>
    </div>
    <div style="height: 20%;">
        <div style="background-color:#98CCFD; padding: 5px 32px;">
            Calling this API
        </div>
        <div style="padding: 0px 32px;">
            <p>URL to call this API is <span id ="exposedpath">{{exposedpath}}</span></p>
            <p>The HTTP action to call this API is <span id = "{{method}}">{{method}}</span></p>
            <p>URL to call this API is <span id = "standard">{{standard}}</span> standard</p>
        </div>
    </div>
    <div>
        <div style="background-color:#98CCFD; padding: 8px 32px;">The input parameters are</div>
        <div style="height: 4.75em; padding: 10px 32px; overflow: auto;">
            <table style="border-collapse: separate; border-spacing: 0px 14px;">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div style="background-color:#98CCFD; padding: 8px 32px;">The output parameters are</div>
        <div style="height: 9em; padding: 10px 32px; overflow: auto;">
            <table style="border-collapse: separate; border-spacing: 0px 14px;">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style>
        <div style="background-color:#98CCFD; padding: 5px 32px;">Security</div>
        <div style="padding: 8px 32px;">
            <span>1</span>
            <span>This API needs a valid JWT token.</span>
        </div>
        <div style="padding: 8px 32px;">
            <span>1</span>
            <span>This API needs a valid JWT token.</span>
        </div>
    </div>

</div>