<style>
    body{
        height: 80vh;
        margin: 1.3em;
    }

    div#container{
        background-color: #DFF0FE;
        border-radius: 10px;
    }
    div#apidesc{
        padding: 8px 32px;
    }

</style>

<div id="container">
    <div id="apidesc">
        This API allows the caller to query customers by customer name. The only required input parameter is 'customer_name'
    </div>
    <div style="height: 20%;">
        <div style="background-color:#98CCFD; padding: 5px 32px;">
            Calling this API
        </div>
        <div style="padding: 0px 32px;">
            <p>URL to call this API is</p>
            <p>URL to call this API is</p>
            <p>URL to call this API is</p>
        </div>
    </div>
    <div>
        <div style="background-color:#98CCFD; padding: 8px 32px;">The input parameters are</div>
        <div style="height: 4.75em; padding: 10px 32px; overflow: auto;">
            <table style="border-collapse: separate; border-spacing: 0px 14px;">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div style="background-color:#98CCFD; padding: 8px 32px;">The output parameters are</div>
        <div style="height: 9em; padding: 10px 32px; overflow: auto;">
            <table style="border-collapse: separate; border-spacing: 0px 14px;">
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>result</td>
                        <td>Boolean</td>
                        <td>The result is true on success and false on failure</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style>
        <div style="background-color:#98CCFD; padding: 5px 32px;">Security</div>
        <div style="padding: 8px 32px;">
            <span>1</span>
            <span>This API needs a valid JWT token.</span>
        </div>
        <div style="padding: 8px 32px;">
            <span>1</span>
            <span>This API needs a valid JWT token.</span>
        </div>
    </div>

</div>