<script type="module">
    import {decisionTableTester} from "./views/{{url.view}}/js/decisionTableTester.mjs"; window.monkshu_env.__decisionTableTester = decisionTableTester;
</script>

<span class="button" onclick="window.monkshu_env.__decisionTableTester.test(this)">
    <img class="button" src="./views/{{url.view}}/dialogs/test.svg">&nbsp;&nbsp;{{i18n.Test}}
</span>

<span class="button" onclick="window.monkshu_env.__decisionTableTester.refresh(this)">
    <img class="button" src="./views/{{url.view}}/dialogs/reload.svg">
</span>