<style>
html, body {
    width: 100%; 
    height: 100%;
    padding: 0px;
    margin: 0px
}

textarea::-webkit-scrollbar {
    width: 0.5em !important;
    height: 0.5em !important;
    scroll-behavior: smooth !important;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    margin: 10px 2px;
    border-radius: 10px !important;
}

textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 10px !important;
    background-clip: padding-box;
}

div#console {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px calc(5px + 0.5em) calc(5px + 0.5em) 0.5em;
    box-sizing: border-box;
}

div#console > textarea#consoleText {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    cursor: default;
    border-radius: 5px;
    border: 1px solid #4788C7;
    color: #444444;
}

div#console > textarea#consoleText.error {color: #D1251A;}
</style>

<div id="console">
    <textarea id="consoleText" {{#error}}class="error"{{/error}} readonly>{{message}}</textarea>
</div>