<style>
     input.input-text {
        flex: 2;
        border: 0px;
        outline: none;
        resize: none;
        font-family: inherit;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #98CCFD;
        border-radius: 5px;
    }

    
    span.toolbar {
        padding-bottom: 10px;
        display: inline-flex;
        align-items: center;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        max-width: calc(100vw - 192px);
        margin-left: 2em;
        margin-top: 0.5em;
    }

    span.toolbar>span>span {
        align-items: center;
        display: inline-flex;
        font-size: 18px;
        font-family: 'Red Hat Text';
        padding-right: 4vw;
    }

    span.toolbar>span>span:last-child {
        padding-right: 0vw;
    }

    span.toolbar>span>span.button {
        padding: 5px 10px 5px 10px;
        border: 1px solid #C6E3FF;
        border-radius: 5px;
        background-color: #D6EFFF;
        cursor: default;
        margin-right: 4vw;
    }


    span.toolbar>span>span.button:last-child {
        margin-right: 0vw;
    }

    img.button {
        width: 20px;
    }

    table {
        font-size: smaller;
        font-family: sans-serif;
        border-radius: 5px 5px 5px 0px;
        border: 0.5px solid #4788C7;
        overflow-y: scroll;
        width: 100%;
        border-spacing: 0px;
        table-layout: fixed;
        overscroll-behavior: auto;
    }


    td {
        border: 1px solid #4788C7;
        color: #444444;
        padding: 0px;
        width: 10em;
        border-radius: 0px;
        overflow: auto;
        background: #FFF;
    }



    tr {
        border: 1px solid #98CCFD;
    }



    td>div {
        background: #FFF;
        border: 0px;
        outline: none;
        color: inherit;
        resize: none;
        padding: 4px;
        width: 100%;
        overflow: hidden;
        font-family: inherit;
        display: block;
        box-sizing: border-box;
    }



    tr:first-child>td {
        background-color: #98CCFD;
        ;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: bolder;
        font-size: 18px;
        color: #444444;
        overflow: hidden;
    }



    tr:first-child>td:last-child {
        border-color: #4788C7;
        border-top-right-radius: 4px;
    }

    tr:last-child>td:last-child {
        border-color: #4788C7;
        border-bottom-right-radius: 4px;
    }


    td>div:focus {
        background: #FFF;
        outline: none;
        color: #444444;
    }


    td:focus-within {
        background: #FFF;
        color: #444444;
    }

    div.input-root,
    div.output-root {
        height: 15em;
        overflow: auto;
    }
    .json-container {
        font-family: 'Red Hat Text';
        font-size: 17px;
        color: #808080;
        box-sizing: border-box;
    }

    .json-container .line {
        margin: 4px 0;
        display: flex;
        justify-content: flex-start;
    }

    .json-container .caret-icon {
        width: 18px;
        text-align: center;
        cursor: pointer;
    }

    .json-container .empty-icon {
        width: 18px;
    }

    .json-container .json-type {
        margin-right: 4px;
        margin-left: 4px;
    }

    .json-container .json-key {
        color: #000;
        margin-right: 4px;
        margin-left: 4px;
    }

    .json-container .json-index {
        margin-right: 4px;
        margin-left: 4px;
    }

    .json-container .json-value {
        margin-left: 8px;
    }

    .json-container .json-number {
        color: #0032E4;
        font-weight: bolder;
    }

    .json-container .json-boolean {
        color: #0032E4;
        font-weight: bolder;
    }

    .json-container .json-string {
        color: #0032E4;
        font-weight: bolder;
    }

    .json-container .json-size {
        margin-right: 4px;
        margin-left: 4px;
        color: #000;
    }

    .json-container .hidden {
        display: none;
    }

    .json-container .fas {
        display: inline-block;
        border-style: solid;
        width: 0;
        height: 0;
    }

    .json-container .fa-caret-down {
        border-width: 8px 6px 0 6px;
       border-color: #444 transparent    }

    .json-container .fa-caret-right {
        border-width: 6px 0 6px 8px;
        border-color: transparent transparent transparent #444;
    }

    li {
    list-style: none;
}

input.input-text {
    flex: 2;
    border: 0px;
    outline: none;
    resize: none;
    font-family: inherit;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #98CCFD;
    border-radius: 5px;
}

select#ftype, select#output-ftype {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

/* for IE10 */
select#ftype ::-ms-expand {
    display: none;
}

select#output-ftype ::-ms-expand {
    display: none;
}


/* (A3) POSITION CUSTOM ARROW */
.cselect, .output-cselect {
    position: relative;
}

.cselect::after {
    position: absolute;
    top: 0;
    right: 0;
}

.output-cselect::after {
    position: absolute;
    top: 0;
    right: 0;
}

/* (B) DIMENSTIONS */
/* (B1) MAKE <SELECT> FILL THE WRAPPER */
.cselect select {
    width: 100%;
}

.output-cselect select {
    width: 100%;
}

.cselect, .output-cselect {
    max-width: 400px;
}

/* OPTIONAL */

/* (B2) ALL SAME HEIGHT */
.cselect,
.cselect::after,
.cselect select {
    box-sizing: border-box;
    /* height: 42px; */
}

.output-cselect,
.output-cselect::after,
.output-cselect select {
    box-sizing: border-box;
    /* height: 42px; */
}

/* (B3) A SQUARE CUSTOM ARROW BOX */
/* ADD BORDER-RADIUS: 50% TO TURN IT CIRCLE */
/* .cselect::after { */
/* width: 42px; */
/* } */

/* (C) COSMETICS */
/* (C1) OVERRIDE DEFAULT SELECT BOX STYLES */
.cselect select {
    background: rgba(152, 204, 253, 1);
    border: 1px solid #98CCFD;
}

.output-cselect select {
    background: rgba(152, 204, 253, 1);
    border: 1px solid #98CCFD;
}

/* (C2) DROPDOWN ARROW BOX */
.cselect::after {
    /* COLORS */
    color: rgba(152, 204, 253, 1);
    background: rgba(255, 255, 255, 1);
    /* CENTER ARROW IN BOX */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

.output-cselect::after {
    /* COLORS */
    color: rgba(152, 204, 253, 1);
    background: rgba(255, 255, 255, 1);
    /* CENTER ARROW IN BOX */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

/* (C3) FUNKY ANIMATIONS */


/* (C4) REMOVE DEFAULT HIGHLIGHTS */
.cselect select:active,
.cselect select:focus,
.cselect select:hover {
    outline: none;
}

.output-cselect select:active,
.output-cselect select:focus,
.output-cselect select:hover {
    outline: none;
}

.left.cselect select {
    padding-left: 50px;
}

.left.output-cselect select {
    padding-left: 50px;
}

.left.cselect::after {
    right: auto;
    left: 0;
    border-radius: 50%;
}

.left.output-cselect::after {
    right: auto;
    left: 0;
    border-radius: 50%;
}

select#ftype, select#output-ftype {
    width: 15%;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    resize: none;
}

#arrayOf{
    padding-right: 5px;
}

select#arrayType, select#output-arrayType {
    width: 15%;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    resize: none;
}


textarea {
    background-color: transparent;
    border: 1px solid #98CCFD;
    outline: none;
    color: inherit;
    resize: none;
    padding: 4px;
    width: 100%;
    overflow: hidden;
    font-family: inherit;
    display: block;
    box-sizing: border-box;
    margin-top: 1em;
}

span.ok {
    float: right;
}

.deleteChild {
    float: right;
}

ul {
    list-style: none;
    /* background-color: white; */
}

li:hover .deleteChild,
li:hover {
    background-color: #D9D9D9;
    fill: #FF0000;
    cursor: pointer;
}

.parent li:hover .deleteChild,
.parent li:hover {
    background-color: white;
    fill: #FF0000;
}

.output-parent li:hover .deleteChild,
.output-parent li:hover {
    background-color: white;
    fill: #FF0000;
}

.child li:hover .deleteChild,
.child li:hover {
    background-color: white;
}

.output-child li:hover .deleteChild,
.output-child li:hover {
    background-color: white;
}

.align {
    display: flex;
    align-items: center;
}

.addIcon {
    display: flex;
    align-items: center;
}

.delete {
    flex: 1;
}

.collapse,
.collapsed {
    cursor: pointer;
    /* padding: 6px; */
    /* width: 100%; */
    border: none;
    outline: none;
    font-size: 15px;
}

.active .collapse img {
    transform: rotate(90deg) !important;
}

.active .collapse-arrow img {
    transform: rotate(90deg) !important;
}

.collapsedTry>ul{
    display: none;
}

.content, .output-content {
    /* padding: 0 6px; */
    display: none;
    /* overflow: hidden; */
}

.collapse-arrow {
    display: flex;
    align-items: center;
    padding: 0px 4px;
}
.error{
    border-color: white;
    box-shadow: 0 0 5px #F33 !important;
}
::-webkit-scrollbar {width: 0.5em;}
 
 ::-webkit-scrollbar-thumb { border-radius: 100px;background: #98CCFD;   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  border-radius: 10px !important;}

 ::-webkit-scrollbar-track {background-color: #bfdbf7;border-radius: 10px !important; }
</style>

<script type="module">
    import {image_button} from "../../../shared/components/image-button/image-button.mjs"
</script>

<table id="inputtable" style="overflow-y: auto;">
    <tr>

        <td>
            <span class="toolbar">
                <span class="leftitems">
                    Input Fields&nbsp;&nbsp;</span>
                    <image-button img="{{{componentPath}}}/img/json.svg" onclick='monkshu_env.components["input-output-fields"].inputJson(this,event)' text="JSON" alt="JSON" styleBody="div#button{display: flex; align-items: center; gap: 0.5em; background-color: #D6EFFF; cursor: pointer;}"></image-button>
                    <!-- <span><button onclick='monkshu_env.components["json-structure"].clicked(this,event)'>JSON</button></span> -->
            </span>
         </td>
        <td> <span class="toolbar">
                <span class="leftitems">
                    Output Fields&nbsp;&nbsp;</span>
                    <!-- <span><button onclick='monkshu_env.components["json-structure"].clicked(this,event)'>JSON</button></span> -->
                    <image-button img="{{{componentPath}}}/img/json.svg" onclick='monkshu_env.components["input-output-fields"].outputJson(this,event)' text="JSON" alt="JSON" styleBody="div#button{display: flex; align-items: center; gap: 0.5em; background-color: #D6EFFF; cursor: pointer;}"></image-button>
                </span>
             </td>
    </tr>

    <tr class="tr">
        <td>
            <div class="input-root">
                <div id="tree" class="align" onclick='monkshu_env.components["input-output-fields"].addMainChild(event,this)'><span class="collapse-arrow collapse"><img class="collapse" src="{{{componentPath}}}/img/collapse.svg" alt="collapse-arrow"></span><span>object</span> <span id="parent-count">{0}</span><span class="addIcon"><img class="addChild" src="{{{componentPath}}}/img/add.svg"></span>
                </div>
                <div id="newTree" class="content" onclick='monkshu_env.components["input-output-fields"].addSubChild(event,this)'></div>
            </div>
            <!-- <div><button onclick='monkshu_env.components["input-output-fields"].getFinal(this)'>Collect</button></div> -->
        </td>
        <td>
            <div class="output-root">
                <div id="outputTree" class="align" onclick='monkshu_env.components["input-output-fields"].addOutputChild(event,this)'><span class="collapse-arrow collapse"><img class="collapse" src="{{{componentPath}}}/img/collapse.svg" alt="collapse-arrow"></span><span>object</span> <span id="output-count">{0}</span><span class="addIcon"><img class="addChild" src="{{{componentPath}}}/img/add.svg"></span>
                </div>
                <div id="output-childTree" class="output-content" onclick='monkshu_env.components["input-output-fields"].addOutputSubChild(event,this)'></div>
            </div>
        </td>

    </tr>

</table>

<!-- <div id="tree" class="align"><span class="collapse-arrow collapse"><img src="{{{componentPath}}}/img/collapse.svg" alt="collapse-arrow"></span><span>object</span> <span id="parent-count">{0}</span><span class="addIcon"><img class="addChild" src="{{{componentPath}}}/img/add.svg"></span>
</div>
<div id="newTree" class="content"></div> -->