table {
    font-size: smaller;
    font-family: sans-serif;
    border-radius: 5px 5px 5px 0px;
    border: 0.5px solid #4788C7;
    overflow-y: scroll;
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
    overscroll-behavior: auto;
}


td {
    border: 1px solid #4788C7;
    background-color: white;
    color: #444444;
    padding: 0px;
    width: 10em;
    border-radius: 0px;
    overflow: auto;


}



tr{
    border: 1px solid #98CCFD;
}



td>textarea {
    background-color: transparent;
    border: 0px;
    outline: none;
    color: inherit;
    resize: none;
    padding: 4px;
    width: 100%;
    overflow: hidden;
    font-family: inherit;
    display: block;
    box-sizing: border-box;
}



tr:first-child > td {
    background-color: #98CCFD; 
    padding: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    overflow: hidden;
}



tr:first-child > td:last-child {border-color: #4788C7; border-top-right-radius: 4px;}

tr:last-child > td:last-child {border-color: #4788C7; border-bottom-right-radius: 4px;}


td > textarea:focus {
    background-color: #DFF0FE;
    outline: none;
    color: #444444;
}


td:focus-within {background-color: #DFF0FE; color: #444444;}


span#tabbar > span.tabbutton {
    background-color: #D6EFFF;
    border: 1px solid #4788C7;
    border-top: transparent;
}

table::-webkit-scrollbar {
    width: 0.3em !important;
    scroll-behavior: smooth !important;
}

table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    margin: 40px;
    border-radius: 10px !important;
}
table::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 10px !important;
    background-clip: padding-box;
}