div.mxPopupMenu {
    border-radius: 5px;
    box-shadow: none;
    background: #DFF0FE;
    position: absolute;
    border: 1px solid #98CCFD;
    overflow: hidden;
    box-shadow: 0 0 5px #ccc;
}

td.mxPopupMenuItem {
    font-family: 'Red Hat Text';
    color: #444444;
}

td.mxPopupMenuIcon {background-color: #98CCFD;}

tr.mxPopupMenuItemHover {background-color: #bedffd;}

table.mxPopupMenu hr {border-top: 0.5px solid #98CCFD; border-bottom: 0px;}