<style>
    label {
        display: block;
        margin-bottom: 2em;
        width: 100%;
    }

    select {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        outline: none;
        border: var(--choice-select-box-border, 1px solid #444444);
        color: var(--choice-select-box-color, inherit);
        font: var(--choice-select-box-font, inherit);;
    }
</style>
<label for="choice">{{message}}</label>
<select name="choice" id="choice">
    {{#choices}}
    <option value="{{.}}">{{.}}</option>
    {{/choices}}
</select>